<h3 class="text-primary">Chat</h3><br>
        <form onsubmit="return addMessage(this)">
          <input type="text" id="email" class="form-control w-50 my-2 mr-2" placeholder="Email"/>
          <input type="text" id="name" class="form-control w-50 my-2 mr-2" placeholder="Name"/>
          <input type="text" id="lastname" class="form-control w-50 my-2 mr-2" placeholder="Lastname" />
          <input type="text" id="age" class="form-control w-50 my-2 mr-2" placeholder="Age" />
          <input type="text" id="alias" class="form-control w-50 my-2 mr-2" placeholder="Alias" />
          <input type="text" id="avatar" class="form-control w-50 my-2 mr-2" placeholder="Avatar" />
          <hr>
          <input type="text" id="text" class="form-control w-50 my-2 mr-2" placeholder="Message" />
          <input type="submit" value="Send" class="btn btn-primary my-2"/>
        </form>
        

        <!-- messages -->
        <div id="messages"></div>
